#header {
    background-image: url(pexels-photo-66459-header.jpg);
    height: 140px;
    margin: 0px auto;
    border-radius: 50px;
    width: 920px;
    text-align: center;
    font: 1em Noto Serif Bengali;
    font-size: 67px;
    -webkit-text-stroke-color: aliceblue;
    border-style: outset;
    border-color: rgb(179, 255, 0);
}

#container {
    text-align: center;
    border-radius: 20px;
    size: 150px;
    font-size: 30px;
}

#playlist {
    background-color: darkorange;
    height: 60px;
    border-radius: 50px;
    width: 920px;
    font-family: 'Shadows Into Light', cursive;
    -webkit-text-stroke-color: aliceblue;
    -webkit-text-stroke-width: 1px;
    font-size: 50px;
    padding-bottom: 35px;
    border-style: outset;
    border-color: rgb(255, 217, 0);
}

#nmaa {
    -webkit-text-stroke-color: rgb(0, 53, 114);
    -webkit-text-stroke-width: 2px;
    font-family: 'CharuChandan3D', sans-serif;
}

#btnOne {
    border-radius: 20px;
    width: 150px;
    height: 40px;
}

body {
    background-image: url(157-1572191_hd-wallpapers-for-website-background-cool-background-image.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#video {
    text-align: center;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2 {
    text-align: left;
    font: 1em Noto Serif Bengali;
    font-size: 45px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

#amita {
    background-size: 400%;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(56deg, rgba(255, 0, 0, 0.986), rgb(217, 1, 255), rgb(0, 98, 255), rgb(0, 98, 255));
    float: left;
    filter: blur(25px);
    position: relative;
    bottom: 30px;
}

#btnOne {
    background-color: red;
    float: center;
    position: relative;
    right: 50px;
}

#ama {
    position: relative;
    right: 175px;
}
